.header {
    display: flex;
    margin: 0% 8%;
    justify-content: space-between;
}

body {
    position: relative;
    min-height: 100%;
}
a {
    text-decoration:none;
}
/* Main Container */
.container {
    background-image: url(../images/circles-light.png);
    margin: -1% -1%;
    min-height:100%;
    align-content: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 2%;
}

.container section {
    /* border: 1px solid lightgray; */
    padding: 10px;
}

/* Main section */
.aboutMe {
    justify-content: center;
    flex-basis: 650px;
    margin-left:66px;
    margin-bottom: 10%;
}

/* Contact Me Box */
.contactMe {
    justify-content: center;
    flex-basis: 270px;
    text-align: center;
}
 section p {
     line-height: 1.5;
     margin:5px;
     color: #777777;
 }

hr {
    background-color: #777777;
    height: 1px;
    opacity: .5;
}

.vert {
    height: 3px;
    width: 1px;
    background-color: #777777;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    border-radius: 10px;
    padding:30px;
    margin-top:-10px;
    margin-bottom:-10px;
    color: white;
    float: left;
}

h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

/* nav bar links */
.nav{
    align-items: flex-end;
    margin:0 auto;
    padding-top:3%;
}

nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color:#777777;
    text-align: right;
    padding: 8px;
}

#portrait {
    width: 200px;
    float: left;
    margin: 10px 15px 10px 10px;
}

.logos {
    max-width: 65px;
}

.portfolio {
    justify-content: center;
    flex-basis: 650px;
    margin-left:66px;
    margin-bottom: 10%;
}

.image {
    position: relative;
    width: 40%;
    margin: 3%;
    display: inline-block;
}

.image h4 {
    position: absolute;
    top: 125px;
    left: 20px;
    background-color: #4aaaa5;
    padding: 10px;
    border-radius: 5px;
    color: white;
    opacity: .8;
}

.portImage {
    width: 100%;
    min-height: 200px;
    margin: 10px;
}

.contactForm {
    justify-content: center;
    flex-basis: 650px;
    margin-left:66px;
    line-height: 1.5;
    margin-bottom: 10%;
}

input {
    width: 100%;
    padding: 12px 0px;
}

#message {
    height:15em;
    width: 100%;
    resize: none;
}

#submit {
    width: 20%;
    margin: 15px 0px 30px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 90px;
    text-align: center;
    background-color: #666666;
    border-top: #4aaaa5 5px solid;
    margin: -10px -15px;
    width: 100%;
    right: 15px;
    
}

@media screen and (max-width:480px) {
    body{
        display: block;
    }

    .header {
        display:block;
    }


    h1 {
        margin-top: -10px;
        margin-left: 6%;
        margin-bottom:1vh;
    }

    a {
        display: inline-block;
    }
  
    .container {
        display:block;
        margin-top: -3%;
        margin-left: -16%;
    }
    .container section {
        padding-bottom: 5%;
    }

    .aboutMe {
        margin-bottom:0%;
    }

    .contactMe {
        margin-bottom: 10%;
        margin-left: 4%;
    }

    h2, h3 {
        text-align: center;
    }

    #portrait {
        float: none;
        width:80%;
        margin-left: 5%;
    }

    .image {
        width: 87%;
        display: block;
    }

    .contactForm {
        width: 78%;
        margin-left: 15%;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    body{
        display: block;
    }

    .header {
        display:inline;
    }


    h1 {
        margin-top: -10px;
        margin-left: 6%;
        margin-bottom:1vh;
    }

    .nav {
        clear: both;
        margin: 0% 20%;
    }

    a {
        display: inline-block;
    }
  
    .container {
        display:block;
        margin-top: -2%;
        margin-left: -16%;
    }
    .container section {
        padding-bottom: 5%;
        margin-left: 15%
    }

    .aboutMe {
        margin-bottom:0%;
        margin-left: 14%;
    }

    .contactMe {
        margin-bottom: 10%;
        margin-left: 4%;
        margin-right: 5%;
    }

    h2, h3 {
        text-align: center;
    }

    #portrait {
        width:40%;
        margin-left: 5%;
    }

    .image {
        width: 87%;
        display: block;
    }

    .contactForm {
        width: 78%;
        margin-left: 15%;
    }
}

